.container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-filtro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.filtro {
    width: 80%;
}

.container-tabla {
    display: flex;
    justify-content: center;
    align-content: center;
}

table {
    width: 80%;
}
