<div class="container-list">
    <div class="container-filtro">
        <div class="filtro">
            <mat-form-field appearance="standard">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar..." #input>
            </mat-form-field>
        </div>
    </div>
    <div class="container-tabla">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="idPersonal">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let personal">{{ personal.idPersonal }}</td>
            </ng-container>

            <ng-container matColumnDef="nombreCompleto">
                <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
                <td mat-cell *matCellDef="let personal">{{ personal.nombreCompleto }}</td>
            </ng-container>

            <ng-container matColumnDef="tipoDoc">
                <th mat-header-cell *matHeaderCellDef>Tipo Doc</th>
                <td mat-cell *matCellDef="let personal">{{ personal.tipoDoc }}</td>
            </ng-container>

            <ng-container matColumnDef="numeroDoc">
                <th mat-header-cell *matHeaderCellDef>Numero Doc</th>
                <td mat-cell *matCellDef="let personal">{{ personal.numeroDoc }}</td>
            </ng-container>

            <ng-container matColumnDef="fechaNac">
                <th mat-header-cell *matHeaderCellDef>F. Nacimiento</th>
                <td mat-cell *matCellDef="let personal">
                    {{ personal.fechaNac | date: "dd/MM/yyyy" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaIngreso">
                <th mat-header-cell *matHeaderCellDef>F. Ingreso</th>
                <td mat-cell *matCellDef="let personal">
                    {{ personal.fechaIngreso | date: "dd/MM/yyyy" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let personal">
                    <button mat-icon-button><mat-icon (click)="onEdit(personal)">edit</mat-icon></button>
                    <button mat-icon-button><mat-icon (click)="onDelete(personal.idPersonal)">delete_forever</mat-icon></button>
                    <button mat-icon-button><mat-icon (click)="onHijos(personal.idPersonal)">visibility</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let persola; columns: displayedColumns"></tr>
        </table>
    </div>
</div>
