<div class="contenedor-formulario">
  <h2>
    {{
      service.formPersonal.controls["idPersonal"].value
        ? "Editar Trabajador"
        : "Registrar Trabajador"
    }}
  </h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="service.formPersonal">
    <mat-form-field>
      <mat-select formControlName="TipoDoc" placeholder="Tipo Documento">
        <mat-option value="DNI">DNI</mat-option>
        <mat-option value="C.E.">C.E.</mat-option>
        <mat-option value="Pasaporte">Pasaporte</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="NumeroDoc" matInput placeholder="Número Documento" />
    </mat-form-field>

    <mat-form-field>
      <input formControlName="Nombre1" matInput placeholder="Primer Nombre"/>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="Nombre2" matInput placeholder="Segundo Nombre"/>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="ApPaterno" matInput placeholder="Apellido Paterno"/>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="ApMaterno" matInput placeholder="Apellido Materno"/>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="FechaNac"
        matInput
        [matDatepicker]="fechaNac"
        placeholder="Fecha Nacimiento"
      />
      <mat-datepicker-toggle matSuffix [for]="fechaNac"></mat-datepicker-toggle>
      <mat-datepicker #fechaNac></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="FechaIngreso"
        matInput
        [matDatepicker]="fechaIngreso"
        placeholder="Fecha Ingreso"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="fechaIngreso"
      ></mat-datepicker-toggle>
      <mat-datepicker #fechaIngreso></mat-datepicker>
    </mat-form-field>
    <div class="form-options">
      <button mat-raised-button color="warn" (click)="onClose()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="service.formPersonal.invalid">Registrar</button>
    </div>
  </form>
</div>